
* {
    box-sizing:border-box;
}

.calculator-container {
    max-width: 350px; 
}

.calculator-grid {
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: white;
    grid-gap: 1px;
    /* border: 25px solid white; */
    padding: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.grid-item-result-window {
    grid-column: span 3;
    background-color: blueviolet; 
}

.grid-item-light {
    background-color: yellow;
}

.grid-item-dark {
    background-color: lightseagreen;
}