
* {
    box-sizing: border-box;
  }
  
  /* attempted to use flex- couldn't get 'C' on same line as display window */
  /* #container { */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* width: 200px; */
  /* } */
  
  /* #display { */
    /* width: 250px; */
    /* height: 55px; */
    /* border: 1px solid black; */
  /* } */
  
  #container {
    display: grid;
    grid-template-columns: 85px 85px 85px 85px;
    /* background-color: white; */
    grid-gap: 1px;
    /* border: 25px solid white; */
    padding: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 450px;
    cursor: pointer;
}

#display {
    grid-column: span 3;
    display: flex;
    background-color: #60b350;
    justify-content: right;
    padding-right: 20px;
    padding-top: 50px;
    color: white;
    /* font-size: 30px; */
    /* text-align: center; */
    height: 100px; 
    /* width: 150px; */
}
  .operator {
    color: white
  }

  /* hover not working */
  /* .operator:hover { */
    /* background-color: lightgreen; */
/* } */


  .button.light {
    height: 100px;
    /* width: 50px; */
    background-color: #82c676;
    /* font-size: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkslategray;
    /* border: 1px solid black; */
  }

  .button.dark {
    height: 100px;
    /* width: 50px; */
    background-color: #60b350;
    color: white;
    /* font-size: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
  }
  /* .button.light-green { */
    /* background-color: yellow; */
    /* height: 75x; */
    /* color: gray */
    /* /~ width: 150px; ~/ */
/* } */

/* .dark { */
    /* background-color: lightseagreen; */
    /* height: 75px; */
    /* color: white */
    /* /~ width: 150px; ~/ */

/* } */
/* Just for practice- take out later */
.highlight {
    border: 5px solid red
    padding: 10px;
}/*